body {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inicio {
    background-image: url("./img/imagem-de-inicio.png");
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 98vw;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px solid black;
}

.quem-somos {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    height: 80vh;
    width: 80vw;
    /* background-image: url("./img/4comfort.png");
    background-repeat: no-repeat;
    background-size:; */
    border: 1px solid black;
}

.quem-somos > div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
    background-color: aquamarine;


}


/* produtos */
.produtos {
    border: 1px solid black;
    height: 100vh;
    width: 98vw;
}

.contatos {
    height: 80vh;
    width: 80vw;
    border: 1px solid black;
}

.nosso-time {
    height: 100vh;
    width: 98vw;
    border: 1px solid black;
}
