body {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: column; */
}

/* header e footer Joao */
header{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    column-gap: 10px;
    background-color: azure;
    justify-items: center;
    align-items: center;
}

header h1 {
    justify-content: center;
    font-family: 'Permanent Marker', cursive;
    align-items: center;
    margin: auto;
    
    
}

.secao {
    display: flex;
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
    
    
}

.outraSecao{
    display: flex;
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
    margin-left:30px;
    
    
}

.secao p {
    margin-right: 20px;
    
}

.outraSecao p {
    margin-left: 20px;
    
}
.logos{
    color: white;
    background-color: black;
    text-align: center;
    font-family: 'Yomogi', cursive;
    padding: 15px;
}

.logos img{
    width: 40px;

}
/* Header e footer Joao */








main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* PÃGINA DE INICIO - PARTE 1 */
.inicio {
    height: 99.9vh;
    width: 100%;   
    background-image: url("./img/inicio.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}


a {
    text-decoration: none;
    color: white;
}







/* QUEM SOMOS - PARTE 2 */
.quem-somos {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    height: 80vh;
    width: 80vw;
    /* background-image: url("./img/4comfort.png");
    background-repeat: no-repeat;
    background-size:; */
    border: 1px solid black;
}

.quem-somos > div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
    background-color: aquamarine;
}








/* PRODUTOS - PARTE 3 */
#fundo-produtos {
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 248, 248);
}

.nossos-produtos {
    background-color:;
    margin-top: 40px;
}
#produtos-titulo {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
}

.produtos {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.genero {
    padding-top: 30px;
    /* padding-bottom: 10px; */
}

.calcados {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
    margin: 40px;
}

.tenis {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    box-shadow: 2px 2px 5px rgb(179, 179, 179);
    color: black;
}

.tenis > img {
    height: 40vh;
    /* width: 25vw; */
}

.tenis > h4 {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.tenis > p {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}






/* CONTATOS - PARTE 4 */
.contatos {
    height: 80vh;
    width: 80vw;
    border: 1px solid black;
}






/* NOSSO TIME - PARTE 5 */
.nosso-time {
    height: 100vh;
    width: 98vw;
    border: 1px solid black;
}
