* {
    margin: 0;
    padding: 0;
}

header{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    column-gap: 10px;
    background-color: azure;
    justify-items: center;
    align-items: center;
}

header h1 {
    justify-content: center;
    font-family: 'Permanent Marker', cursive;
    align-items: center;
    margin: auto;
    
    
}

.secao {
    display: flex;
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
    
    
}

.outraSecao{
    display: flex;
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
    margin-left:30px;
    
    
}

.secao p {
    margin-right: 20px;
    
}

.outraSecao p {
    margin-left: 20px;
    
}
.logos{
    color: white;
    background-color: black;
    text-align: center;
    font-family: 'Yomogi', cursive;
    padding: 15px;
}

.logos img{
    width: 40px;

}

